<style>

h1{
	font-family: Arial, Helvetica, sans-serif
}

h2{
	font-family: Arial, Helvetica, sans-serif
}

h3 {
	font-family: Arial, Helvetica, sans-serif
}

h4 {
	font-family: Arial, Helvetica, sans-serif
}

table{
	border: 1px solid black;
}

th, td {
  border-right: 0px solid #ddd;
  width: 100px;
  text-align: center;
}

</style>

<body>
	<center>
		<h1> Dynamic </h1>

		<h3> Dynamic langauges are languages where every declared variable is bounded to an object, unless the variable is null. During execution time, variable names will be assigned to objects during execution. There is a possibility that a variable is bounded to different types during execution. </h3>

		<h2> Languages: <a href="/languages">Python</a>, <a href="/languages"> Racket</a></h2>

		<h2> Data Structures </h2>

		<table class="center">
			<tr >
				<td>
					<h2><a href="/Linkedlist"> LL </a></h2>
				</td>
				<td>
					<h2><a href="/Stacks"> Stacks </a></h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2><a href="/Queues"> Queues </a></h2>
				</td>
				<td>
					<h2><a href="/BST"> BST </a></h2>
				</td>
			</tr>
		</table>

		<h3><a href="/#"> Back to Main </a></h3>

	</center>
</body>