<style>

h1{
	font-family: Arial, Helvetica, sans-serif
}

h2{
	font-family: Arial, Helvetica, sans-serif
}

h3 {
	font-family: Arial, Helvetica, sans-serif
}

h4 {
	font-family: Arial, Helvetica, sans-serif
}

table{
	border: 1px solid black;
}

th, td {
  border-right: 0px solid #ddd;
  width: 100px;
  text-align: center;
}

</style>

<body>
	<center>
		<h1> Functional </h1>

		<h4> Functional programming is a pure. This means that you cannot do anything that has a side effect. For example, if you evaluate an expression, you can evaluate it as many times as you want with the same arguments and it will <i>always</i> return the exact same value as the first time you evaluated. Essentially means that you cannot evaluate an expression that will later cause evaluating that expression to result in a different value. </h4>

		<h2> Languages: <a href="/languages">Racket</a>, <a href="/languages"> Haskell</a></h2>


		<h2> Data Structures </h2>

		<table class="center">
			<tr >
				<td>
					<h2><a href="/Linkedlist"> LL </a></h2>
				</td>
				<td>
					<h2><a href="/Stacks"> Stacks </a></h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2><a href="/Queues"> Queues </a></h2>
				</td>
				<td>
					<h2><a href="/BST"> BST </a></h2>
				</td>
			</tr>
		</table>

		<h3><a href="/#"> Back to Main </a></h3>

	</center>
</body>