<link href="https://fonts.googleapis.com/css?family=Cardo|Dancing+Script|Inconsolata|Lato|Raleway" rel="stylesheet">
<style>

table.center{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

th, td {
  padding: 15px;
  text-align: center;
}
	t{
    	 font-family: 'Dancing Script', Georgia, Times, serif;
         font-size: 59px;
         line-height: 60px;
         text-shadow: 4px 4px 4px #aaa;
         margin:10px;
    }
h1{
	font-family: Arial, Helvetica, sans-serif
}

h2 {
	font-family: Arial, Helvetica, sans-serif
}

h3 {
	font-family: Arial, Helvetica, sans-serif
}
 p1{
     font-family: 'Cardo', Georgia, Times, serif;
     font-size: 20px;
     line-height: 30px;
     }
     p2{
     font-family: 'Cardo', Georgia, Times, serif;
     font-size: 25px;
     line-height: 30px;
     }
      p3{
     font-family: 'Lato', sans-serif;
     font-size: 17px;
     line-height: 20px;
    }
#condense_page{
	width: 800px;
	margin: 0 auto;
}

</style>

<body>
	<div id="condense_page">
		<center>
			<t> Learn You a Language! </br></t>

			<p1> <br/>This website will help you learn about what functional, imperative, static, and dynamic languages are. In addition, you will get a glimpse of various data structures under each category to better understand the benefits and downfalls of each type of programming language. Click on a language type to learn more or click on data structures to view an overview of each data structure implemented in various languages! </p1> 
		</center>
	</div>
<br/><br/>
	<table class="center">
		<tr >
			<td bgcolor="#B5ED64">
				<p2><a href="/Functional"> Functional </a></p2>
			</td>
			<td bgcolor="#64C1ED">
				<p2><a href="/Imperative"> Imperative </a></p2>
			</td>
		</tr>
		<tr>
			<td bgcolor="#9164ED">
				<p2><a href="/static_page"> Static </a></p2>
			</td>
			<td bgcolor="#ED6467">
				<p2><a href="/Dynamic"> Dynamic </a></p2>
			</td>
		</tr>
	</table>

	<table class="center">
		<tr>
			<td bgcolor="#EDC264">
				<p2><a href="/DS"> Data Structures </a></p2>
			</td>
		</tr>
	</table>

</body>
