<style>

table.center{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

th, td {
  padding: 15px;
  text-align: center;
}

h1{
	font-family: Arial, Helvetica, sans-serif
}

h2 {
	font-family: Arial, Helvetica, sans-serif
}

h3 {
	font-family: Arial, Helvetica, sans-serif
}

#condense_page{
	width: 800px;
	margin: 0 auto;
}

</style>

<body>
	<div id="condense_page">
		<center>
			<h1> Learn You a Language! </h1>

			<h3> This website will help you learn about what functional, imperative, static, and dynamic languages are. In addition, you will get a glimpse of various data structures under each category to better understand the benefits and downfalls of each type of programming language. Click on a language type to learn more or click on data structures to view an overview of each data structure implemented in various languages! </h3> 
		</center>
	</div>

	<table class="center">
		<tr >
			<td bgcolor="#B5ED64">
				<h2><a href="/Functional"> Functional </a></h2>
			</td>
			<td bgcolor="#64C1ED">
				<h2><a href="/Imperative"> Imperative </a></h2>
			</td>
		</tr>
		<tr>
			<td bgcolor="#9164ED">
				<h2><a href="/static_page"> Static </a></h2>
			</td>
			<td bgcolor="#ED6467">
				<h2><a href="/Dynamic"> Dynamic </a></h2>
			</td>
		</tr>
	</table>

	<table class="center">
		<tr>
			<td bgcolor="#EDC264">
				<h2><a href="/DS"> Data Structures </a></h2>
			</td>
		</tr>
	</table>

</body>