<style>

h1{
	font-family: Arial, Helvetica, sans-serif
}

h2{
	font-family: Arial, Helvetica, sans-serif
}

h3 {
	font-family: Arial, Helvetica, sans-serif
}

h4 {
	font-family: Arial, Helvetica, sans-serif
}

th, td {
  border-right: 0px solid #ddd;
  width: 100px;
  text-align: center;
}

</style>

<body>
	<center>
		<h1> Imperative </h1>

		<h3> Info about imperative programming goes here </h3>

		<h1> Racket </h2>

		<h3> Info about racket goes here </h3>

		<table class="center">
			<tr >
				<td>
					<h2> LL </h2>
				</td>
				<td>
					<h2> Stack </h2>
				</td>
			</tr>
			<tr>
				<td>
					<h2> Queue </h2>
				</td>
				<td>
					<h2> BST </h2>
				</td>
			</tr>
		</table>

		<h3><a href="/#"> Back to Main </a></h4>

	</center>
</body>